@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.className{
    display: grid;
    place-items: center;
    background-color: #ff7a7a;
    background-image: url(./media/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    padding-block: 7.5rem;
}

body,html{
        padding-left: 5vh;
        padding-left: 5vh;
        min-height: 100vh;
        min-height: 100vh;
        width: 100vw;
        touch-action: pan-y;
        overflow-x: hidden;
}

input,input:focus {
    border: none;
    outline: none
}
.page_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5em;
}

.page_section .container-fluid{
    display: flex;
    align-items: center ;
    flex-direction: column;
    place-items: center;
    gap: 1em;
}

.page_section .container-fluid .mycolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3em;
    color: #fff;
    max-width: 80%;
}
.page_section .container-fluid .page_price{
    background-color: #6055a5;
    padding: 1.5em 2em;
    border-radius: 8px;
    box-shadow: 0 6px 2px 0 rgba(0,0,0,.205);
    max-width: 80%;
    padding: 16px;
    margin-bottom: 16px;
}
.page_section .container-fluid .page_price p{
    color: #b9b6d3;
    }
.page_section .container-fluid .page_price p span{
    color: #fff;
    font-weight: 700;
}

.page_section .container-fluid main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 80%;
    padding: 1em 0;
    border-radius: 10px;
    box-shadow: 0 5px 0 0 rgba(0,0,0,.219)
}
.page_section .container-fluid main form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 1.5em;
    gap: 1.8em;
}
.page_section .container-fluid main form input{
    border: 1.5px solid #dcdcdc;
    padding: 1em 2em;
    border-radius: 5px;
}
.page_section .container-fluid main form input::placeholder{
    font-weight: 700;
}
.page_section .container-fluid main form input:focus{
    border: 1.5px solid #3e3c49;
}
.page_section .container-fluid main form label{
    font-size: .8em;
}
.page_section .container-fluid main form label:first-of-type{
    position: absolute;
    top: 6.5em;
    right: 2.5em;
    color: #ff7a7a;
}
.page_section .container-fluid main form label:nth-of-type(2){
    position: absolute;
    top: 13.3em;
    right: 2.5em;
    color: #ff7a7a;
}
.page_section .container-fluid main form label:nth-of-type(3){
    position: absolute;
    top: 20em;
    right: 2.5em;
    color: #ff7a7a;
}
.page_section .container-fluid main form label:nth-of-type(4){
    position: absolute;
    top: 27em;
    right: 2.5em;
    color: #ff7a7a;
}
.page_section .container-fluid main form button{
    padding: 1.5em;
    background-color: #38cc8c;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 3px 5px 5px 0 rgba(0,0,0,.219);
    border: none;
    border-bottom: 3px solid rgba(0,0,0,.082);
    cursor: pointer;
}
.page_section .container-fluid main p{
    font-size: .8em;
    max-width: 80%;
    text-align: center;
    color: #b9b6d3;
}
.page_section .container-fluid main p span{
    cursor: pointer;
    color: #ff7a7a;
    font-weight: 700;
}
.inputsPlaceholderRed {
    color: rgb(255, 122, 122);
}
/* ERROR ICON */
.inputContainer {
    display: grid;
    align-items: center;
    
    position: relative;
}
.error {
    display: none;
    justify-self: end;

    margin-right: 3vh;
    position: absolute;
}
/* CONGRATULATIONS */
#congratulations, #fail {
    cursor: pointer;
    position: fixed;
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content:space-evenly;
    z-index: 9;

    width: 40%;
    height: 80%;
    background-color: rgb(0, 112, 164);
    color: white;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fail {
    background-color: rgb(176, 139, 193);
}
#fail:hover {
    background-color: rgb(65, 34, 142);
}
#congratulations:hover {
    background-color: rgb(10, 145, 255);
}
#congratulations > img, #fail > img {
    width: 50%;
}

/* RESPONSIVE DESING WITH MEDIA QUERIES */
@media screen and (max-width: 375px) {
    body.className {
        background-image: url(./media/bg-intro-mobile.png);
    }
}
@media screen and (max-width:500px) {
    body,html{
        padding-left: 3vh;
    }
    input {
        width: 100%;
    }
}
@media screen and (max-width:800px) {
    #congratulations, #fail { 
        width: 69%;
        height: 80%;
    }
    input{
        width: 100%;
    }
}

@media screen and (max-widh:500px){
    body,html{
        padding-left: 3vh;
    }
    input{
        width: 100%;
    }
}